<h1>My Current Goals</h1>

<table class="u-full-width">
    <thead>
        <tr>
            <th>Name</th>
            <th>Deadline</th>
            <th>Hours per Week</th>
        </tr>
    </thead>
    <tbody ng-repeat="goal in goals">

        <tr ng-click="selectThisGoal(goal.id)">
            <td>{{goal.name}}</td>
            <td>{{goal.deadline | date : 'longDate'}}</td>
            <td>0</td>
            <!--There will eventually be code here to calculate the number of hours per week for that goal-->
        </tr>
        <tr ng-show="goal.selected">
            <td colspan="3"><p>{{goal.description}}</p></td>
        </tr>
        <tr ng-show="goal.selected">
            <td><button ng-click="completeGoal(goal)"> Complete</button></td>
            <td><button ng-click="setGoalForTasks(goal)"><a href="#tasks">Edit & View Tasks</a></button></td>
            <td><button ng-click="deleteGoal(goal)">Delete</button></td>
        </tr>
    </tbody>
</table>